<!doctype html>
<html lang="en">

<head>
  <title>Register - Test NLP</title>
  <!--Link to CSS -->
  <link href="../static/bootstrap.min.css" rel="stylesheet">
  <link href="../static/style.css" rel="stylesheet">
</head>

<body class="text-center">
  <form class="form-signin" action="{{url_for('register')}}" method="POST">
    <h1 class="h2 mb-3 font-weight-normal">PROSA AI NLP CHATBOT</h1><br><br>
    <input type="text" id="email" name="email" class="form-control" placeholder="email" required autofocus><br>
    <input type="password" id="password" name="password" class="form-control" placeholder="password" required><br>
    <input type="password2" id="password2" name="password2" class="form-control" placeholder="confirm password" required><br>
    <button class="btn btn-lg btn-primary btn-block" value="submit">Start Chat</button>
  </form>
</body>

</html>